{% extends 'blog.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-12">
        <div class="row mt-3">
            <div class="col-12">
                <h1 class="h2 card-title"><i class="fa fa-bicycle"></i> Over <em>Spiritus <a href="https://www.santosbikes.com" target="_blank">Santos</a></em></h1>
                Dit blog beschrijft tochten die Janneke en Henri, samen of alleen, fietsen (of wandelen, snowboarden, etc.). Gegroepeerd per reis of gewoon losse ritjes.
                <br><hr>
                De ritgegevens (route, hoogtemeters, etc.) komen vanuit <a href="https://www.strava.com" target="_blank">Strava</a> en van alle tochten is ook een GPX-bestand te downloaden.
                <br><hr>
                Benieuwd naar de broncode van de Strava-integratie? Check <a href="https://www.github.com/aiolos/streber" target="_blank">Github</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
