{% extends 'blog.html.twig' %}

{% block body %}
{% for post in posts %}
    <div class="row">
        <div class="offset-lg-3 offset-md-2 col-lg-6 col-md-8 col-sm-12">
            <div class="row mt-3">
                <div class="col-lg-12 col-md-12 col-sm-12 m-10">
                    <div class="card">
                        <div class="card-header">
                            <h1 class="h2 card-title">{{ post.title }}</h1>
                            <h6 class="card-subtitle mb-2 text-muted">{{ post.date|date("d-m-Y") }}</h6>
                        </div>
                        <div class="card-body">
                            {{ post.text|markdown|split('</p>')|first|raw }}
                            <br>
                            <br>
                            <a href="/blog/{{ post.id }}">Lees verder</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
