{% extends 'blog-wide.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="h-100">
                <div id="activityMap" class="map" style="width: 100%; height: 65vh;"></div>
            </div>
        </div>
    </div>
    {% include 'partials/activityMap.html.twig' with {'mapId': 'activityMap'} %}
{% endblock %}

