{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><i class="fa fa-link"></i> Verbind met Strava</h1>
    </div>
    Klik op onderstaande link om te verbinden met Strava. Je komt daarna hier weer terug.<br>
    <a href="{{ url }}" class="btn btn-success"><i class="fa fa-link"></i> Verbinden</a>
{% endblock %}