{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="offset-xl-2 col-xl-8 col-12">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2"><i class="fa fa-link"></i> Verbind met Strava</h1>
        </div>
        <div class="alert alert-success" role="alert">
            Gelukt, de verbinding is geslaagd!
        </div>

        <a href="/athlete" class="btn btn-primary">Bekijk je profiel</a>
    </div>
</div>
{% endblock %}