.card-header {
    border: 0px;
}

.card {
    border: 0px;
}

.card.no-border {
    border: 0px;
    /*border-radius: 0rem;*/
}

.card-body {
    border-left: 1px solid rgba(0,0,0,.08);
    border-right: 1px solid rgba(0,0,0,.08);
    border-bottom: 1px solid rgba(0,0,0,.08);
}

.card.border-top {
    border-top: 1px solid rgba(0,0,0,.08);
}

.blog .card-footer {
    border-top: 0px !important;
}
.blog .card-body {
    border-bottom: 0px !important;
}

.header-icon-div {
    margin:0px;
    margin-top: -15px;
    margin-left: -90px;
    overflow:hidden;
}

.header-icon-i {
    overflow:hidden;
    font-size: 5.5rem;
    color:rgba(0,0,0,.08);
    margin-bottom: -10px;
}