{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="offset-xl-3 col-xl-6 col-12">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">
                    <i class="fa fa-file-alt"></i> Wijzig bericht:
                </h1>
            </div>

            <div class="row">
                <div class="col-10 m-10">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            {{ form_end(form) }}
                </div>
                <div class="col-2">
                    {% include 'partials/markdown.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
