<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Strebertje!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/dashboard.css">
    </head>

    <body>

    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark flex-sm-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 col-3 mr-0" href="#"><i class="fa fa-bicycle"></i> Strebertje!</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if app.request.attributes.get('_route') == 'app_dashboard_index' %}active{% endif %}">
                    <a class="nav-link {% if app.request.attributes.get('_route') == 'app_dashboard_index' %}active{% endif %}" href="/">
                        <span data-feather="home"></span>
                        <i class="fa fa-tachometer-alt"></i> Dashboard <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'app_athlete_athlete' %}active{% endif %}">
                    <a class="nav-link {% if app.request.attributes.get('_route') == 'app_athlete_athlete' %}active{% endif %}" href="/view/athlete">
                        <span data-feather="home"></span>
                        <i class="fa fa-user"></i> Atleet <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'app_activity_activities' %}active{% endif %}">
                    <a class="nav-link {% if app.request.attributes.get('_route') == 'app_activity_activities' %}active{% endif %}" href="/view/activities">
                        <span data-feather="file"></span>
                        <i class="fa fa-globe"></i> Activiteiten
                    </a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'app_maps_maps' %}active{% endif %}">
                    <a class="nav-link {% if app.request.attributes.get('_route') == 'app_maps_maps' %}active{% endif %}" href="/view/maps/10">
                        <span data-feather="file"></span>
                        <i class="fa fa-map"></i> Kaarten
                    </a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'app_maps_year' %}active{% endif %}">
                    <a class="nav-link {% if app.request.attributes.get('_route') == 'app_maps_year' %}active{% endif %}" href="/view/year">
                        <span data-feather="file"></span>
                        <i class="fa fa-map"></i> Mijn Jaar
                    </a>
                </li>
            </ul>
        </div>

        <span class="navbar-text">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                Username: {{ app.user.email }}
            {% endif %}
        </span>
    </nav>
        <div class="container-fluid">
            <div class="row">
                <main role="main" class="col-12">
                    {% block body %}{% endblock %}
                </main>
            </div>
        </div>

        <footer class="footer">
            <div class="container text-center">
                <span class="text-muted"><i class="fa fa-copyright"></i> <a href="https://enri.nl">Enri.nl</a> </span>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
