<div class="card bg-dark text-white no-border">
    <img class="card-img" style="min-width: 100%; min-height:5rem; max-height: 15rem; object-fit: cover;" src="/assets/img/{{
        random([
            'fiets', 'galibier2', 'meertje', 'schaap', 'polder', 'wecamp',
            'italie', 'italie2', 'rome', 'sellaronda', 'matterhorn', 'alaska',
            'alaska2', 'gletcher', 'oosterschelde', 'afsluitdijk', 'weissensee',
            'lle1', 'kanaal', 'stonehenge', 'tarrsteps', 'cornwall', 'oldebroek',
            'zuidkorea', 'seoul', 'seoraksan', 'tempel', 'strand', 'noordkorea',
            'weissensee20',
        ])
    }}.jpg" alt="Card image">
    <div class="card-img-overlay">
        <h5 class="card-title text-center">Spiritus Santos (en&nbsp;blijven&nbsp;trappen!)</h5>
        <p class="card-text text-center">Reisverhalen en andere fietsgedachten</p>
    </div>
</div>
