<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark flex-sm-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 col-3 mr-0" href="#"><i class="fa fa-bicycle"></i> Strebertje!</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
            {#<li class="nav-item {% if app.request.attributes.get('_route') == 'app_dashboard_index' %}active{% endif %}">#}
            {#<a class="nav-link {% if app.request.attributes.get('_route') == 'app_dashboard_index' %}active{% endif %}" href="/">#}
            {#<span data-feather="home"></span>#}
            {#<i class="fa fa-tachometer-alt"></i> Dashboard <span class="sr-only">(current)</span>#}
            {#</a>#}
            {#</li>#}
            <li class="nav-item {% if app.request.attributes.get('_route') == 'app_athlete_athlete' %}active{% endif %}">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_athlete_athlete' %}active{% endif %}" href="/athlete">
                    <span data-feather="home"></span>
                    <i class="fa fa-user"></i> Atleet <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') == 'app_activity_activities' %}active{% endif %}">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_activity_activities' %}active{% endif %}" href="/activities">
                    <span data-feather="file"></span>
                    <i class="fa fa-globe"></i> Activiteiten
                </a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') == 'app_maps_maps' %}active{% endif %}">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_maps_maps' %}active{% endif %}" href="/maps/10">
                    <span data-feather="file"></span>
                    <i class="fa fa-map"></i> Kaarten
                </a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') == 'app_maps_year' %}active{% endif %}">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_maps_year' %}active{% endif %}" href="/year">
                    <span data-feather="file"></span>
                    <i class="fa fa-map"></i> Mijn Jaar
                </a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') == 'app_post_posts' %}active{% endif %}">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_post_posts' %}active{% endif %}" href="/posts">
                    <span data-feather="file"></span>
                    <i class="fa fa-edit"></i> Berichten
                </a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') == 'app_post_groups' %}active{% endif %}">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_post_groups' %}active{% endif %}" href="/groups">
                    <span data-feather="file"></span>
                    <i class="fa fa-object-group"></i> Berichtgroepen
                </a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') == 'app_blog_posts' %}active{% endif %}">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_blog_posts' %}active{% endif %}" href="/" target="_blank">
                    <span data-feather="file"></span>
                    <i class="fa fa-file-alt"></i> Blog <i class="fa fa-external-link-alt"></i>
                </a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog"></i> Account ({{ app.user.email }})</a>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="accountDropdown">
                        <a class="dropdown-item" href="/profile"><i class="fa fa-user-circle"></i> Strava profiel</a>
                        <a class="dropdown-item" href="/connect"><i class="fa fa-link"></i> Verbind met Strava</a>
                        <a class="dropdown-item" href="/logout"><i class="fa fa-lock"></i> Uitloggen</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>