<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="/?group=all">Spiritus Santos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/voies/list"
                       class="nav-link">
                        Voies Vertes Lijst
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/"
                       class="nav-link">
                        Naar reisverslagen
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
