<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Spiritus Santos en Blijven trappen!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/blog.css">
    </head>

    <body>
        <header>
            {% include 'header.html.twig' %}
            {% include 'voiesnavigation.html.twig' %}
        </header>

        <div class="container">
            <main role="main" class="">
                {% block body %}{% endblock %}
            </main>
        </div>

        <footer class="footer container mt-3 border-top p-2">
            <div class="container text-center">
                <span class="text-muted">
                    <i class="fa fa-copyright"></i> <a href="https://enri.nl">Enri.nl</a>
                    -
                    <i class="fa fa-envelope"></i> <a href="mailto:&#98;&#108;&#105;&#106;&#118;&#101;&#110;&#116;&#114;&#97;&#112;&#112;&#101;&#110;&#64;&#101;&#110;&#114;&#105;&#46;&#110;&#108;">&#98;&#108;&#105;&#106;&#118;&#101;&#110;&#116;&#114;&#97;&#112;&#112;&#101;&#110;&#64;&#101;&#110;&#114;&#105;&#46;&#110;&#108;</a>
                </span>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
